@use "functions";
@use "mixins";

:root {
    --container-padding: 20px;
    --container-width: calc(100vw - var(--container-padding) * 2);
    --dashboard-sidebar-color: #e2e2e2;
    --dashboard-sidebar-width: 250px;
    --dashboard-overlay-color: rgba(66, 66, 66, 0.73);
    --negative-width: calc(var(--dashboard-sidebar-width) * -1);
    --dashboard-hover-color: #7190FF;
    --theme-switcher-indicator-pos: .25rem;
    --teme-switrcher-sun-icon: #FFD371;
    --teme-switrcher-moon-icon: #7190FF;
}

@media screen and (min-width: 980px) {
    :root {
        --container-padding: 30px;
    }
}

@media screen and (min-width: 1300px) {
    :root {
        --container-padding: 20px;
        --container-width: 1300px;
    }
}

@include mixins.night {
    --dashboard-sidebar-color: #202430;
    --dashboard-overlay-color: rgba(5, 10, 17, 0.68);
    --theme-switcher-indicator-pos: 3.25rem;
}

/**
    CONTAINER
*/
%container,
.container {
    box-sizing: border-box;
    width: 100%;
    padding-left: calc(50% - var(--container-width) / 2);
    padding-right: calc(50% - var(--container-width) / 2);
}

%spacing-container,
.spacing-container {
    margin-left: auto;
    margin-right: auto;
    width: var(--container-width);
}

%narrow-container,
.narrow-container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.ratio-container {
    width: 100%;
    aspect-ratio:  16/9;
}

/**
    WRAPPER
 */
.wrapper-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

/**
    GRID
 */
.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--gap);
}

.grid-3 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);

    @include mixins.b-down(980) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.stacked-content {
    --gap-content: 2;
    display: grid!important;
    grid-template-columns: 1fr;
    align-items: flex-start;
    gap: calc(var(--gap-content) * var(--spacing));

    & > * {
        min-width: 0;
    }
}

/**
===============================================
    Dashboard Slidebar
===============================================
*/
.dashboard__sidebar {
    background-color: var(--dashboard-sidebar-color);
    position: absolute;
    padding: 1.5rem;
    top: 0;
    min-height: 100%;
    width: var(--dashboard-sidebar-width);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: functions.spacing(4);
    transform: translate3d(var(--negative-width), 0, 0);
    transition: transform .3s ease-in-out;
}

.dashboard__sidebar svg {
    fill: var(--text-color);
    width: 1.25rem;
    height: 1.25rem;
}

.dashboard__sidebar__nav svg {
    fill: var(--text-color);
}

.dashboard__sidebar__nav .dashboard__sidebar__item__category {
    text-transform: uppercase;
    color: var(--text-color);
    font-weight: bold;
    font-size: 81.25%;
    letter-spacing: 2px;
    padding: .75rem 0;
}

.dashboard__sidebar__nav .dashboard__sidebar__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dashboard__sidebar__nav .dashboard__sidebar__items a {
    display: flex;
    padding: .75rem;
    gap: .75rem;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

.dashboard__sidebar__nav .dashboard__sidebar__items a:hover,
.dashboard__sidebar__nav .dashboard__sidebar__items a.item-active-link {
    color: var(--dashboard-hover-color);
}

.dashboard__sidebar__nav .dashboard__sidebar__items a.item-active-link svg,
.dashboard__sidebar__nav .dashboard__sidebar__items a:hover svg {
    fill: var(--dashboard-hover-color);
}

body.sidebar-open .dashboard__sidebar {
    transform: translate3d(0, 0, 0);
}

body.sidebar-open .dashboard__overlay {
    opacity: 1;
    visibility: visible;
}

.dashboard__sidebar__toggle {
    display: none;
}

// Theme switcher
.dashboard__sidebar__theme__switcher {
    background-color: var(--dashboard-header-color);
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: .875rem;
    gap: 1.75rem;
    cursor: pointer;
    position: relative;
}

.dashboard__sidebar__theme__switcher::before {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--dashboard-hover-color);
    border-radius: 50px;
    z-index: 0;
    left: 0;
    transform: translateX(var(--theme-switcher-indicator-pos));
}

.dashboard__sidebar__theme__switcher svg {
    z-index: 1;
}

.dashboard__sidebar__theme__switcher .dashboard__sidebar__theme__sun {
    fill: var(--teme-switrcher-sun-icon);
}

.dashboard__sidebar__theme__switcher__moon {
    fill: var(--teme-switrcher-moon-icon);
}

/*
===============================================
    Dashboard Content
===============================================
 */

.dashboard__overlay {
    position: absolute;
    inset: 0;
    background-color: var(--dashboard-overlay-color);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

/*
===============================================
    Dashboard Main Container
===============================================
 */
.dashboard__main {
    position: relative;
    height: 100vh;
}

.dashboard__main__container {
    padding: functions.spacing(4);
}

// Display some element only on largest devices
@include mixins.b-up(600) {
    .dashboard__sidebar {
        position: relative;
        transform: none;
    }

    .dashboard__main {
        display: grid;
        grid-template-columns: auto 1fr;
    }

    .dashboard__sidebar__toggle {
        display: flex;
        align-items: center;
        gap: .75rem;
        padding: .75rem;
        background-color: var(--dashboard-header-color);
        border-radius: 10px;
    }

    .dashboard__sidebar__toggle:hover {
        background-color: var(--dashboard-hover-color);
        color: #FFF;
        transition: all .3s;
    }

    .dashboard__sidebar__toggle:hover svg {
        fill: #FFFFFF;
    }

    body.sidebar-collapse .dashboard__sidebar__nav .dashboard__sidebar__item__category,
    body.sidebar-collapse .dashboard__sidebar__nav span,
    body.sidebar-collapse .dashboard__sidebar__theme__switcher,
    body.sidebar-collapse .dashboard__sidebar__toggle span {
        display: none;
    }

    body.sidebar-collapse .dashboard__sidebar {
        --dashboard-sidebar-width: 85px;
        width: var(--dashboard-sidebar-width);
        transition: width .3s ease-in-out;
    }

    body.sidebar-collapse .dashboard__sidebar a,
    body.sidebar-collapse .dashboard__sidebar__toggle {
        width: 2.75rem;
        height: 2.75rem;
        justify-content: center;
    }

    body.sidebar-collapse .dashboard__sidebar__toggle svg {
        transform: rotate(180deg);
    }
}