@layer base {
  body {
    background-color: var(--color-surface-canvas);
    font-family: var(--font-family-base), sans-serif;
    font-size: var(--leading-base);
    color: var(--color-text-default);
  }
}