{% extends 'base.html.twig' %}

{% block title 'My account' %}

{% block body %}
    <div class="container">
        <h1 class="h1">Account</h1>
        <p>You have an overflow of your account.</p>
    </div>
{% endblock %}