{% extends 'base.html.twig' %}

{% block title 'HomePage' %}

{% block body %}
    <div class="container">
        <h1 class="h1">Welcome</h1>
        <carousel-module>
            <div class="slide">Slide 1</div>
            <div class="slide">Slide 2</div>
            <div class="slide">Slide 3</div>
        </carousel-module>
    </div>
{% endblock %}