{% extends 'base.html.twig' %}

{% block title 'HomePage' %}

{% block body %}
    <carousel-module>
        <div class="slide">
            <h1>Title 1</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p><a href="#" class="btn btn-ghost">My button</a></p>
        </div>
        <div class="slide">
            <h1>Title 2</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="slide">
            <h1>Title 3</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </carousel-module>
    <div class="container">
        <h1 class="h1">Welcome</h1>
    </div>
{% endblock %}