{% extends 'base.html.twig' %}

{% block title "HomePage" %}

{% block metas %}
    <meta name="description" content="Home page">
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="h1">Homepage</h1>
    </div>
    <!-- Start of the Blog section -->
    <section class="homepage-section">
        <div class="container">
            <div class="homepage-section-title">
                <h2 class="h2">Last Posts</h2>
                <a href="{{ path('blog.index') }}" title="Blog section">See more posts</a>
            </div>
            <spotlight-component class="homepage-carousel" slidesvisibles="2" infinite="true">
                {% for post in posts %}
                    <div class="spotlight__item">
                        <div class="spotlight__image">
                            <img src="https://picsum.photos/700/300" alt="Thumbnail">
                        </div>
                        <div class="spotlight__content">
                            <div class="spotlight__title">
                                {{ post.title }}
                            </div>
                            <div class="spotlight__description">
                                lorem ipsum dolor sit amet, consectetuer adipiscing elit
                            </div>
                            <div class="spotlight__footer">
                                <a href="#">Learn more...</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </spotlight-component>
        </div>
    </section>
    <!-- End of the Blog section -->
    <!-- Start of the Project section -->
    <section class="homepage-section">
        <div class="container">
            <div class="homepage-section-title">
                <h2 class="h2">Last Projects</h2>
                <a href="#" title="See more projects...">See more projects</a>
            </div>
            <spotlight-component class="homepage-carousel" slidesvisibles="2" infinite="true">
                <div class="spotlight__item">
                    <div class="spotlight__image">
                        <img src="https://picsum.photos/700/300" alt="Thumbnail">
                    </div>
                    <div class="spotlight__content">
                        <div class="spotlight__title">
                            Project Title 1
                        </div>
                        <div class="spotlight__description">
                            lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        </div>
                        <div class="spotlight__footer">
                            <a href="#">Learn more...</a>
                        </div>
                    </div>
                </div>
                <div class="spotlight__item">
                    <div class="spotlight__image">
                        <img src="https://picsum.photos/700/300" alt="Thumbnail">
                    </div>
                    <div class="spotlight__content">
                        <div class="spotlight__title">
                            Project Title 1
                        </div>
                        <div class="spotlight__description">
                            lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        </div>
                        <div class="spotlight__footer">
                            <a href="#">Learn more...</a>
                        </div>
                    </div>
                </div>
                <div class="spotlight__item">
                    <div class="spotlight__image">
                        <img src="https://picsum.photos/700/300" alt="Thumbnail">
                    </div>
                    <div class="spotlight__content">
                        <div class="spotlight__title">
                            Project Title 1
                        </div>
                        <div class="spotlight__description">
                            lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        </div>
                        <div class="spotlight__footer">
                            <a href="#">Learn more...</a>
                        </div>
                    </div>
                </div>
                <div class="spotlight__item">
                    <div class="spotlight__image">
                        <img src="https://picsum.photos/700/300" alt="Thumbnail">
                    </div>
                    <div class="spotlight__content">
                        <div class="spotlight__title">
                            Project Title 1
                        </div>
                        <div class="spotlight__description">
                            lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        </div>
                        <div class="spotlight__footer">
                            <a href="#">Learn more...</a>
                        </div>
                    </div>
                </div>
                <div class="spotlight__item">
                    <div class="spotlight__image">
                        <img src="https://picsum.photos/700/300" alt="Thumbnail">
                    </div>
                    <div class="spotlight__content">
                        <div class="spotlight__title">
                            Project Title 1
                        </div>
                        <div class="spotlight__description">
                            lorem ipsum dolor sit amet, consectetuer adipiscing elit
                        </div>
                        <div class="spotlight__footer">
                            <a href="#">Learn more...</a>
                        </div>
                    </div>
                </div>
            </spotlight-component>
        </div>
    </section>
    <!-- End of the Project section -->
    <!-- Start of the Event section -->
    <section class="homepage-section">
        <div class="container">
            <div class="homepage-section-title">
                <h2 class="h2">Events</h2>
                <a href="#" title="See more projects...">See all the event list</a>
            </div>
        </div>
    </section>
    <!-- End of the Envent section -->
{% endblock %}
