{% extends 'base.html.twig' %}

{% block title 'HomePage' %}

{% block body %}
    <!--
    <carousel-module>
        <div class="slide">
            <h1>Title 1</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <p><a href="#" class="btn btn-ghost">My button</a></p>
        </div>
        <div class="slide">
            <h1>Title 2</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="slide">
            <h1>Title 3</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </carousel-module>
    -->
    <div class="container">
        <h1 class="h1">Welcome</h1>

        <div class="grid">
            <div class="col-span-4">
                <article class="card">
                    <div class="card__image">
                        <img src="https://picsum.photos/200/275" width="200" height="275"
                             alt="Thumbnail">
                    </div>
                    <div class="card__header">
                        <h2 class="card__title h2">Title</h2>
                    </div>

                    <div class="card__meta">
                        <span class="card__category">Category</span>
                        <span class="card__author">John Doe</span>
                    </div>

                    <div class="card__body">
                        <p class="card__text">
                            Lorem ipsum dolor sit amet...
                        </p>
                    </div>

                    <div class="card__footer">
                        <a href="#" class="card__link">Learn more</a>
                    </div>
                </article>
            </div>
        </div>

    </div>
{% endblock %}