{% extends 'base.html.twig' %}

{% block title "HomePage" %}

{% block metas %}
    <meta name="description" content="Home page">
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="h1">Homepage</h1>
        <section class="homepage-section">
            <h2 class="h2">Last Posts</h2>
            <!-- Carousel demo -->
            <div class="homepage-carousel" id="carousel">
               <div class="spotlight__item">
                   <div class="spotlight__image">
                       <img src="https://picsum.photos/700/300" alt="Thumbnail">
                   </div>
                   <div class="spotlight__content">
                       <div class="spotlight__title">
                           Title 1
                       </div>
                       <div class="spotlight__description">
                           lorem ipsum dolor sit amet, consectetuer adipiscing elit
                       </div>
                   </div>
               </div>
               <div class="spotlight__item">
                   <div class="spotlight__image">
                       <img src="https://picsum.photos/700/300" alt="Thumbnail">
                   </div>
                   <div class="spotlight__content">
                       <div class="spotlight__title">
                           Title 2
                       </div>
                       <div class="spotlight__description">
                           lorem ipsum dolor sit amet, consectetuer adipiscing elit
                       </div>
                   </div>
               </div>
               <div class="spotlight__item">
                   <div class="spotlight__image">
                       <img src="https://picsum.photos/700/300" alt="Thumbnail">
                   </div>
                   <div class="spotlight__content">
                       <div class="spotlight__title">
                           Title 3
                       </div>
                       <div class="spotlight__description">
                           lorem ipsum dolor sit amet, consectetuer adipiscing elit
                       </div>
                   </div>
               </div>
               <div class="spotlight__item">
                   <div class="spotlight__image">
                       <img src="https://picsum.photos/700/300" alt="Thumbnail">
                   </div>
                   <div class="spotlight__content">
                       <div class="spotlight__title">
                           Title 4
                       </div>
                       <div class="spotlight__description">
                           lorem ipsum dolor sit amet, consectetuer adipiscing elit
                       </div>
                   </div>
               </div>
               <div class="spotlight__item">
                   <div class="spotlight__image">
                       <img src="https://picsum.photos/700/300" alt="Thumbnail">
                   </div>
                   <div class="spotlight__content">
                       <div class="spotlight__title">
                           Title 5
                       </div>
                       <div class="spotlight__description">
                           lorem ipsum dolor sit amet, consectetuer adipiscing elit
                       </div>
                   </div>
               </div>
            </div>
        </section>
    </div>
{% endblock %}
