{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="home-page-hero">
        <div class="container">
            <h1 class="hero-title">Welcome!</h1>
            <p class="hero-text">Share my universe with you!</p>
        </div>
    </div>
    <section class="home-page-section">
        <div class="container">
            <h2 class="h2">Lastest Articles</h2>
            <div class="gc-3"></div>
        </div>
    </section>
    <section class="home-page-section">
        <div class="container">
            <h2 class="h2">Lastest Projects</h2>
            <div class="gc-3"></div>
        </div>
    </section>
{% endblock %}
