{% extends 'base.html.twig' %}

{% block title "HomePage" %}

{% block metas %}
    <meta name="description" content="Home page">
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="h1">Homepage</h1>
    </div>
{% endblock %}
