<header class="header" id="main-header">
    <div class="header-brand">
        <a href="{{ path('home') }}" title="Return to the home page">
            <svg viewBox="0 0 865 696">
                <g>
                    <path d="M551.71 0c-89.07 0-163.04 65.87-175.79 151.45a35 35 0 0 0-22.34.31C340.96 66.03 266.93 0 177.75 0 79.74 0 0 79.74 0 177.75S79.74 355.5 177.75 355.5 355.5 275.76 355.5 177.75v-.34c1.76-1.81 4.88-4.21 9.25-4.39a13.8 13.8 0 0 1 9.26 3.39l-.03 1.34c0 98.01 79.74 177.75 177.75 177.75s177.75-79.74 177.75-177.75S649.72 0 551.71 0M177.75 332.41c-85.28 0-154.66-69.38-154.66-154.66S92.46 23.08 177.75 23.08s154.66 69.38 154.66 154.66S263.03 332.4 177.75 332.4zm373.96 0c-85.28 0-154.66-69.38-154.66-154.66S466.43 23.08 551.71 23.08s154.66 69.38 154.66 154.66S636.99 332.4 551.71 332.4z"></path>
                    <path d="M219.3 136.2h-83.1v83.1h83.1zm415.51 83.1a41.55 41.55 0 1 0 0-83.1 41.55 41.55 0 0 0 0 83.1m-98.96 208.21.08-.09.51-.61a229 229 0 0 0 10.07-13.07l.16-.22q1.2-1.71 2.16-3.11l.29-.43 1.64-2.48.96-1.52-19.79-12.2-.54.85-.14.21a176 176 0 0 1-12 16.07 226 226 0 0 1-15.63 17.02c-19.91 19.57-50.25 42.23-90.78 52.86a180 180 0 0 1-13.1 2.95q-5.68 1.03-11.61 1.75l-2.52.29-.39.03-.82.08c-3.66.38-7.36.7-11.17.86-103.15 4.19-163.57-76.57-166.09-80.01l-12.5 9.16-6.25 4.58a149 149 0 0 0 6.25 7.85c19.14 22.69 77.91 81.83 170.52 81.83a212 212 0 0 0 19.86-.91l1.59-.18q4.6-.44 9.06-1.07l.8-.13q4.71-.69 9.27-1.55l65.28 65.29a73.6 73.6 0 0 0 52.23 21.6c18.91 0 37.83-7.2 52.24-21.6 28.8-28.8 28.8-75.67 0-104.47zm23.3 127.77a50.84 50.84 0 0 1-71.82 0l-55.66-55.66c39.12-12.85 68.53-35.3 88.53-55.12l38.95 38.95a50.85 50.85 0 0 1 0 71.82z"></path>
                </g>
            </svg>
        </a>
        <button class="header-hamburger" id="js-hamburger">
            <span></span>
        </button>
    </div>
    <nav class="header__nav" id="menuNav">
        <ul class="header__nav__left">
            <li><a href="{{ path('dashboard.posts.index') }}" title="Manage posts for the blog">Posts</a></li>
            <li><a href="#" title="Projects">Projects</a></li>
            <li><a href="#" title="Events">Events</a></li>
            <li><a href="#" title="Users">Users</a></li>
        </ul>
    </nav>
</header>