<ul>
    <li class="menu-heading"><span>Manage</span></li>
    <li>
        <a href="#" class="active">
            <svg>
                <use href="#icon-dashboard"></use>
            </svg>
            <span>Dashboard</span>
        </a>
    </li>
    <li>
        <a href="#">
            <svg>
                <use href="#icon-appearance"></use>
            </svg>
            <span>Appearance</span>
        </a>
    </li>
    <li>
        <a href="#">
            <svg>
                <use :href="#icon-plugins"></use>
            </svg>
            <span>Plugins</span>
        </a>
    </li>
    <li>
        <a href="#">
            <svg>
                <use href="#icon-users"></use>
            </svg>
            <span>Users</span>
        </a>
    </li>
    <li>
        <a href="#">
            <svg>
                <use href="#icon-settings"></use>
            </svg>
            <span>Settings</span>
        </a>
    </li>
    <li class="menu-heading"><span>Content</span></li>
    <li>
        <a href="#">
            <svg>
                <use href="#icon-posts"></use>
            </svg>
            <span>Posts</span>
        </a>
    </li>
    <li>
        <a href="#">
            <svg>
                <use href="#icon-media"></use>
            </svg>
            <span>Media</span>
        </a>
    </li>
    <li>
        <a href="#">
            <svg>
                <use href="#icon-pages"></use>
            </svg>
            <span>Pages</span>
        </a>
    </li>
    <li>
        <a href="#">
            <svg>
                <use href="#icon-comments"></use>
            </svg>
            <span>Comments</span>
        </a>
    </li>
</ul>