<footer class="footer">
    <div class="footer__header">
        {{ iconRenderer('logo', 150, 'footer-logo-icon') }}
        </div>
    <div class="footer__body">
        <div class="container">
            <h6 class="h5">Here the footer</h6>
        </div>
    </div>
</footer>