.homepage-section, .homepage-section:nth-child(2n) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.homepage-section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--back);
  font-weight: bold;
}

.homepage-section {
  background-color: var(--section-color);
}

.homepage-section:nth-child(2n) {
  background-color: transparent;

  .homepage-section-title {
    color: var(--text-color);
  }
}
