/**
Spotlight items
 */
.spotlight__item {
  margin: 40px 10px;
  background-color: var(--card-bg-color);
  transition: transform 0.3s;
  transform: translate3d(0, -1px, 0);
  border: 3px solid var(--card-bg-border);
  border-radius: 10px;
  padding: 16px;
}

.spotlight__title {
  font-size: 32px;
  color: var(--text-color);
  font-weight: bold;
  margin-bottom: 25px;
}

.spotlight__content {
  display: flex;
  flex-direction: column;
}

.spotlight__image {
  display: flex;
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 10px;
  border: 3px solid var(--card-bg-border);
}

.spotlight__item img {
  min-width: 100%;
  display: flex;
  border-radius: 4px;
}

.spotlight__description {
  font-size: 20px;
}

/**
Carousel
*/
.carousel {
  position: relative;
}

.carousel__container {
  transition: transform 0.3s;
  transform: translate3d(0, 0, 0);
}

.carousel__container::after {
  content: '';
  clear: both;
  display: table;
}

.carousel__item {
  float: left;
  opacity: 20%;
  transition: .5s;
}

.carousel__next, .carousel__prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background: var(--card-bg-color);
  background-size:  20px 20px;
  color: var(--text-color);
  border: 3px solid var(--card-bg-border);
  border-radius: 50%;
  top: 50%;
  margin-top: -10px;
  right: -10px;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}

.carousel__prev {
  left: -10px;
}

.carousel__next:hover, .carousel__prev:hover {
  transform: scale(1.2)
}

.carousel__prev--hidden {
  opacity: 0;
}

.carousel__next--hidden {
  opacity: 0;
}

.carousel__pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
}

.carousel__pagination__button {
  background-color: #FFF;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 2px 5px;
  transition: transform 0.3s;
  cursor: pointer;
}

.carousel__pagination__button--active, .carousel__pagination__button:hover {
  transform: scale(1.4);
}

.carousel__slide--active {
  opacity: 1;
}

@media screen and (min-width: 880px) {
  .carousel__pagination {
    display: block;
  }
}