.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

.form-control {
  display: flex;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: 1.5rem;
  font-size: calc(16px + .75rem);
  font-weight: 400;
  line-height: 1.5em;
  background-color: var(--background-page);
  border-left: 2px solid var(--hr-color);
  border-right: 2px solid var(--hr-color);
  border-right: 2px solid var(--hr-color);
  border-top: 2px solid var(--hr-color);
  border-bottom: 5px solid var(--hr-color);
  color: var(--text-color);
  border-radius: 5px;
}

.form-control:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--border-color);
  border-color: var(--accent-color);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}