@use "../tools/functions";
@use "../tools/mixins";

:root {
  --striped-bg-table: #EBEBEBFF;
}

@include mixins.night {
  --striped-bg-table: #121a2e;
}


.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid var(--striped-bg-table);
  border-radius: 10px;
}

.table th,
.table td {
  padding: 8px 16px;
  white-space: nowrap;
}

.table th {
  border-bottom: 5px solid var(--striped-bg-table);
}

.table td {
  padding: 8px 16px;
  border-bottom: 1px solid var(--striped-bg-table);
}

.table tr:hover,
.table-striped tr:nth-child(even) {
  background-color: var(--striped-bg-table);
  transition: background-color .3s;
}

.table thead {
  border-bottom: 5px solid var(--striped-bg-table);
  font-weight: bold;
}


@include mixins.b-down(980) {
  .table-responsive {
    padding: 0!important;
    overflow-x: auto;
    width: 100%;
    border: 1px solid var(--striped-bg-table);
  }

  .table-responsive .table {
    width: 100vw;
    display: table;
  }

}