@use "../../tools/mixins";

.main-header {
  background-color: var(--main-header-bg);
  padding: 1rem 1.5rem;
}

.main-header .main-header__navigation,
.main-header .main-header__navigation ul,
.main-header .main-header__navigation a {
  display: flex;
  align-items: center;
}

.main-header .main-header__navigation {
  justify-content: space-between;
}

.main-header .main-header__navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.main-header .main-header__navigation svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--top-bar-icon-fill);
}

.toggle-icon-close,
.main-header .main-header__navigation .main-header__logo,
.main-header .main-header__navigation a span,
body.sidebar-open .toggle-icon-menu {
  display: none;
}

.main-header__sidebar-toggle {
  appearance: none;
  background-color: transparent;
  border: none;
}

body.sidebar-open .toggle-icon-close {
  display: block;
}

@include mixins.b-up(600) {
  .main-header .main-header__sidebar-toggle {
    display: none;
  }

  .main-header .main-header__navigation .main-header__logo {
    display: block;
  }

  .main-header svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .main-header .main-header__logo svg {
    width: 2rem;
    height: 2rem;
  }

  .main-header .main-header__navigation a {
    gap: .5rem;
  }

  .main-header .main-header__navigation a span {
    display: inline-block;
    color: var(--main-header-link-color);
  }
}