@use "../../tools/mixins";

.overlay {
  position: absolute;
  inset: 0;
  background-color: var(--gray-alpha-80);
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.main {
  position: relative;
}

body.sidebar-open .overlay {
  opacity: 1;
  visibility: visible;
}

.main-content {
  padding: 1.5rem;
}

.main-content__container {
  height: calc(100vh - 1rem);
  display: grid;
}

@include mixins.b-up(600) {
  .main {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}