@use "vars";
@use "tools/mixins";
@use "tools/layout";
@use "tools/typography";
@use "tools/utils";
@use "tools/reset";
@use "modules/header";
@use "modules/card";
@use "modules/form";
@use "modules/button";
@use "modules/pagination";
@use "modules/spotlight";
@use "modules/table";


// Generic styles
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  word-break: break-word;
  background-color: var(--background-page);
  color: var(--text-color);
}

body.day-theme {
  background-color: var(--day-theme-bg);
}

::selection {
  background-color: var(--accent-color);
  color: var(--white);
}