.captcha {
  position: relative;
  margin: 0 auto;
  width: var(--width);
  height: var(--height);
  border: 1px solid var(--border-color);
  background: var(--image);
  touch-action: none;
  overflow: hidden;
}

.captcha__overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease;
  pointer-events: none;
}

.captcha__overlay.is-visible {
  opacity: 1;
  visibility: visible;
}

.captcha__overlay.is-success {
  background: rgba(0,200,0,.25);
}

.captcha__overlay.is-error {
  background: rgba(200,0,0,.25);
}

.captcha-overlay__icon {
  width: 48px;
  height: 48px;
  color: white;
}

.captcha-completed {
  pointer-events: none;
}

.captcha__locked {
  opacity: .6;
  cursor: not-allowed;
}

.captcha__piece {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--piece-width);
  height: var(--piece-height);
  background: var(--image) top right;
  border: 1px solid #000;
  transition: opacity .3s;
}

.is-moving {
  border-color: var(--accent-color);
}

.captcha:not(.captcha-waiting-interaction) .captcha__piece:not(.is-moving) {
  opacity: .3;
}
