@use '../base/layout';
@use '../tools/mixins';
@use "../tools/functions";
@use "../tools/breakpoints";

:root {
  --header-height: 80px;
  --logo-size: 40px;
}
.header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--border-color);
}

.header__brand {
  display: flex;
  flex-direction: row;
  width: var(--header-height);
  height: var(--header-height);
  justify-content: center;
  align-items: center;

  a, svg {
    display: flex;
    width: var(--logo-size);
    height: var(--logo-size);
    align-items: center;
    justify-content: center;
  }

  svg {
    fill: var(--text-color);
  }

  a:hover svg {
    fill: var(--accent-color);
    transition: all 0.2s;
  }
}

.header__brand .header__hamburger {
  display: none;
}

// Nav
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: var(--gap);

  a:hover {
    color: var(--accent-color);
  }
}

.header__nav .header__nav__left,
.header__nav .header__nav__right,
.header__nav .header__nav__left li,
.header__nav .header__nav__right li {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
}

// MOBILE VERSION
@include breakpoints.down(980) {
  .header {
    margin: 0;
    padding: 0;
    flex-direction: column;
  }

  .header__brand {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: var(--header-height);
    padding-inline: 10px 10px;
    justify-content: flex-start;
    align-items: center;

    a, svg {
      display: flex;
      width: 100%;
      height: var(--header-height);
      align-items: center;
      justify-content: flex-start;
      padding: 1rem;
    }
  }

  .header__brand .header__hamburger {
    display: flex;
    flex-direction: column;
    gap: functions.spacing(1);
  }

  .header__brand .header__hamburger:before,
  .header__brand .header__hamburger:after,
  .header__brand .header__hamburger span {
    content: "";
    width: 40px;
    height: 5px;
    background-color: var(--text-color);
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    background-color: var(--background-page-color);
    justify-content: unset;
    min-height: 100vh;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translateX(-100%);
    transition: transform .3s;
    gap: 0;
  }

  .header__nav .header__nav__left,
  .header__nav .header__nav__right, {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  .header__nav .header__nav__left li,
  .header__nav .header__nav__right li {
    display: flex;
    width: 100%;
    height: 50px;
  }

  .header__nav .header__nav__left li a ,
  .header__nav .header__nav__right li a {
    padding: 20px;
    display: flex;
    width: 100%;
    align-items: center;

    &:hover {
      background-color: var(--accent-color);
      color: #FFFFFF;
      transition: background-color .3s;
      border-bottom: none;
    }
  }

  .visible--menu .header__nav {
    transform: translateX(0);
  }
}