# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    app.assets.public_base_path: '/assets'
    app.vite.manifest_path: '%kernel.project_dir%/public/assets/.vite/manifest.json'
    app.vite.manifest_cache_key: 'vite_manifest'
    app.vite.custom_elements_polyfill_url: 'https://unpkg.com/@ungap/custom-elements@1.3.0/min.js'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        public: false
        bind:
            $rootProjectDir: '%kernel.project_dir%'

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude: '../src/{DependencyInjection,Entity,Foundation/Migrations,Tests,Kernel.php}'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    # User Checkers for the auth
    App\Domain\Auth\Security\BannedUserChecker: ~
    App\Domain\Auth\Security\LoginAttemptsUserChecker: ~

    App\Domain\Auth\Security\CompositeUserChecker:
        arguments:
            $checkers:
                - '@App\Domain\Auth\Security\BannedUserChecker'
                - '@App\Domain\Auth\Security\LoginAttemptsUserChecker'

    App\Http\Controller\:
        resource: '../src/Http/controller'
        tags: ['controller.service_arguments']

    # Asset Bridge Configuration
    App\Http\Twig\ViteAssetTwigExtension:
        tags: ['twig.extension']

    App\Foundation\Bridge\ManifestReader:
        arguments:
            $cacheKey: '%app.vite.manifest_cache_key%'
            $manifestPath: '%app.vite.manifest_path%'

    App\Foundation\Bridge\SafariNoChromeDecider: ~

    App\Foundation\Bridge\AssetBridge:
        arguments:
            $customElementsPolyfillUrl: '%app.vite.custom_elements_polyfill_url%'

