{% extends 'base.html.twig' %}

{% block title 'Dev' %}

{% block body %}
    <div class="container">
        <div class="hero">
            <h1 class="h1">Dev webpage</h1>
            <p>Development UI Sandbox. Not available in production.</p>
        </div>
        <div class="section">
            <div class="grid-3">
                <article class="card">
                    <div class="card__header">
                        <img src="https://picsum.photos/150" alt="Thumbnail">
                    </div>
                    <div class="card__body stacked-content">
                        <div class="card__content">
                            <h3 class="card__content__title">Title</h3>
                            <div class="card__content__info">
                                <span>Category</span>
                                <span>Laka Mark</span>
                            </div>
                            <div class="card__description">
                                <p class="card__content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                                    blanditiis enim impedit</p>
                            </div>
                        </div>
                    </div>
                    <div class="card__footer">
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </article>
                <article class="card">
                    <div class="card__header">
                        <img src="https://placehold.net/400x400.png" alt="noImage">
                    </div>
                    <div class="card__body stacked-content">
                        <div class="card__content">
                            <h3 class="card__content__title">Title</h3>
                            <div class="card__content__info">
                                <span>Category</span>
                                <span>Laka Mark</span>
                            </div>
                            <div class="card__description">
                                <p class="card__content__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                                    blanditiis enim impedit</p>
                            </div>
                        </div>
                    </div>
                    <div class="card__footer">
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </article>
            </div>
        </div>

    </div>
{% endblock  %}