{% extends layout %}
{% import "mails/macros.twig" as e %}

{% block body %}
    <h1>Hell {{ user.username }}!</h1>
    <p>Almost here! You should confirm your email! To follow the link below:</p>
        {{ e.button("Cofirme my email", url('app_register_confirm', {hash: hash})) }}
    <p>Best regards</p>
{% endblock %}
