{% extends layout %}
{% import "mails/macros.twig" as e %}

{% block body %}
    <h1>Hello {{ user.username }}!</h1>

    <p>
        Almost there! Please confirm your email by clicking the link below:
    </p>

    {{ e.button(
        "Confirm my email",
        url('app_auth_resend_confirmation', { token: token })
    ) }}

    <p>Best regards</p>
{% endblock %}